[user]
	name = Axel Tetzlaff
	email = axel.tetzlaff@shopify.com
	signingkey = 02023CA2900532B0
[core]
  editor = nvim
  excludesfile = /Users/at/.gitignore_global

[color] 
				status = auto 
				diff = auto 
				branch = auto

[push]
	default = tracking
[alias]
	co = checkout
	br = branch -vv
	ci = commit
	st = status
  df = diff --color-words
	serve= daemon --reuseaddr --verbose --base-path=. --export-all ./.git
	fpush = push --force-with-lease origin
[merge]
	tool = meld
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[include]
	path = /Users/at/.config/dev/gitconfig
