[user]
  name = Axel Tetzlaff
  email = axel.tetzlaff@gmx.de
[core]
  editor = /usr/bin/vim

[color] 
				status = auto 
				diff = auto 
				branch = auto

[push]
	default = tracking
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	serve= daemon --reuseaddr --verbose --base-path=. --export-all ./.git
[merge]
  tool = vimdiff
