[user]
  name = Axel Tetzlaff
  email = axel.tetzlaff@gmx.de
[core]
  editor = /usr/local/bin/vim
	excludesfile = /Users/at/.gitignore_global

[color] 
				status = auto 
				diff = auto 
				branch = auto

[push]
	default = tracking
[alias]
	co = checkout
	br = branch -vv
	ci = commit
	st = status
  df = diff --color-words
	serve= daemon --reuseaddr --verbose --base-path=. --export-all ./.git
[merge]
  tool = vimdiff
